<mat-toolbar>
    <mat-toolbar-row>
      Lista de Pacientes
  
      <button mat-icon-button color="primary" routerLink="novo">
        <mat-icon matTooltip="Cadastrar">add</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

<div class="content">
    <table mat-table [dataSource]="pacientes" class="mat-elevation-z8">
  
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let paciente"> {{ paciente.nome }} </td>
      </ng-container>
  
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let paciente"> {{ paciente.cpf }} </td>
      </ng-container>

      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef> Telefone </th>
        <td mat-cell *matCellDef="let paciente"> {{ paciente.telefone }} </td>
      </ng-container>
  
      <ng-container matColumnDef="cep">
        <th mat-header-cell *matHeaderCellDef> CEP </th>
        <td mat-cell *matCellDef="let paciente"> {{ paciente.cep }} </td>
      </ng-container>
  
      <ng-container matColumnDef="logradouro">
        <th mat-header-cell *matHeaderCellDef> Logradouro </th>
        <td mat-cell *matCellDef="let paciente"> {{ paciente.logradouro }} </td>
      </ng-container>

      <ng-container matColumnDef="bairro">
        <th mat-header-cell *matHeaderCellDef> Bairro </th>
        <td mat-cell *matCellDef="let paciente"> {{ paciente.bairro }} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> UF </th>
        <td mat-cell *matCellDef="let paciente"> {{ paciente.estado }} </td>
      </ng-container>
  
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let paciente">
          <div class="acoes">
            <button color="warn" mat-flat-button (click)="remover(paciente)">
              Remover
            </button>
  
            <button color="primary" mat-flat-button (click)="editar(paciente)">
              Editar
            </button>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
  </div>
